@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.Navbar{
padding: 20px;
display: flex;
align-items: center;
max-width: 800px;
margin: 0 auto;
border-bottom: 1px solid #f2f2f2;
}
.Navbar h1{
color: #f1356d;
}
.Navbar .link{
margin-right: auto;
}
.Navbar a{
  margin-left: 16px;
  padding: 6px;
  text-decoration: none;
}
.Navbar a:hover{
  color: #f1356d;
}
.content{
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}



.name_preview
{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.name_preview:hover
{
box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.name_preview h2
{
  font-size: 20px;
  margin-bottom: 8px;
  color: #f1356d;
}